<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>User Write Form</title>
</head>
<body>
    <a href="{% url 'loginForm' %}">로그인하기</a></p>
    <p><a href="{% url 'createForm' %}">회원가입하기</a></p>
</body>
</html>
<form class="d-flex" action="{% url 'api_book_search' %}" method="GET">
    {% csrf_token %}
    <input name="q" class="form-control me-2" type="search" placeholder="책 제목 검색" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">🔍</button>
</form>

{% if items %}
    <h1>Book Search Results</h1>
    <ul>
        {% for item in items %}
            <li>
                <h2>{{ item.title }}</h2>
                <p>Author: {{ item.author }}</p>
                <p>Published: {{ item.pubdate }}</p>
                <p>Publisher : {{ item.publisher }}</p>
                <p>ISBN : {{ item.isbn }}</p>
                <!-- <p>Description : {{ item.description }}</p> -->
                <p><img src="{{ item.image }}" alt="Book Image"></p>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No search results.</p>
{% endif %}